In [2]:
import pandas as pd
import numpy as np

In [3]:
edo = pd.read_csv(r'C:\KGR5\edogawa2017+cluster.csv', encoding = 'cp932')

In [4]:
edo[0:10]

,#,地区,自転車盗数,住民数(合計),住民数(男性),住民数(女性),人口密度[人/k㎡],面積[k㎡],世帯数,クラスタ,...,男性30代,男性40代,男性50代,男性60以上,女性未成年,女性20代,女性30代,女性40代,女性50代,女性60以上
0,0,東小松川,32,11383,5814,5569,10045.005290,1.1332,5479,0,...,828,984,789,1477,1011,626,761,907,677,1682
1,1,西小松川町,3,3380,1764,1616,6452.844597,0.5238,1596,0,...,206,286,232,506,283,135,162,242,218,565
2,2,小松川,40,16293,7852,8441,9531.414531,1.7094,7003,0,...,861,1362,1214,1906,1593,796,920,1466,1204,2425
3,3,西葛西,172,45320,22636,22684,22787.610620,1.9888,22369,1,...,3751,3962,3023,4496,4261,2974,3585,3849,2714,5318
4,4,中葛西,137,38262,20003,18259,23319.112630,1.6408,21215,1,...,3534,3707,2664,3396,3133,3097,2980,3257,2119,3716
5,5,北葛西,42,19816,10114,9702,11756.748740,1.6855,8997,0,...,1348,1802,1454,2461,1897,981,1205,1657,1175,2792
6,6,南葛西,113,34164,17521,16643,22611.688400,1.5109,15217,1,...,2788,3189,2370,3273,3628,2154,2545,3006,2051,3606
7,7,東葛西,170,42692,22648,20044,15219.964350,2.8050,22872,1,...,3954,4176,3079,3910,3589,3363,3341,3551,2384,4125
8,8,新堀,9,4576,2409,2167,13298.459750,0.3441,1897,0,...,289,503,335,427,517,221,280,439,245,465
9,9,清新町,43,14339,6907,7432,14975.456920,0.9575,5988,0,...,937,981,804,2143,1291,614,943,999,944,2674

In [12]:
edo_tmp = edo.drop(edo.columns[[0,1,3,4,5,6,7,8,9]], axis=1)
#edo_tmp = edo_tmp.drop('Unnamed: 8', axis=1)
edo_tmp[0:10]

,自転車盗数,男性未成年,男性20代,男性30代,男性40代,男性50代,男性60以上,女性未成年,女性20代,女性30代,女性40代,女性50代,女性60以上
0,32,1035,744,828,984,789,1477,1011,626,761,907,677,1682
1,3,294,238,206,286,232,506,283,135,162,242,218,565
2,40,1648,767,861,1362,1214,1906,1593,796,920,1466,1204,2425
3,172,4319,3117,3751,3962,3023,4496,4261,2974,3585,3849,2714,5318
4,137,3211,3541,3534,3707,2664,3396,3133,3097,2980,3257,2119,3716
5,42,1924,1114,1348,1802,1454,2461,1897,981,1205,1657,1175,2792
6,113,3727,2475,2788,3189,2370,3273,3628,2154,2545,3006,2051,3606
7,170,3890,4015,3954,4176,3079,3910,3589,3363,3341,3551,2384,4125
8,9,585,278,289,503,335,427,517,221,280,439,245,465
9,43,1359,708,937,981,804,2143,1291,614,943,999,944,2674

In [13]:
np_edo = edo_tmp.values

In [14]:
np_edo[0:10]

array([[  32, 1035,  744,  828,  984,  789, 1477, 1011,  626,  761,  907,
         677, 1682],
       [   3,  294,  238,  206,  286,  232,  506,  283,  135,  162,  242,
         218,  565],
       [  40, 1648,  767,  861, 1362, 1214, 1906, 1593,  796,  920, 1466,
        1204, 2425],
       [ 172, 4319, 3117, 3751, 3962, 3023, 4496, 4261, 2974, 3585, 3849,
        2714, 5318],
       [ 137, 3211, 3541, 3534, 3707, 2664, 3396, 3133, 3097, 2980, 3257,
        2119, 3716],
       [  42, 1924, 1114, 1348, 1802, 1454, 2461, 1897,  981, 1205, 1657,
        1175, 2792],
       [ 113, 3727, 2475, 2788, 3189, 2370, 3273, 3628, 2154, 2545, 3006,
        2051, 3606],
       [ 170, 3890, 4015, 3954, 4176, 3079, 3910, 3589, 3363, 3341, 3551,
        2384, 4125],
       [   9,  585,  278,  289,  503,  335,  427,  517,  221,  280,  439,
         245,  465],
       [  43, 1359,  708,  937,  981,  804, 2143, 1291,  614,  943,  999,
         944, 2674]], dtype=int64)

In [10]:
np.corrcoef([np_edo[:, 0], np_edo[:, 1], np_edo[:, 2], np_edo[:, 3], np_edo[:, 4], np_edo[:, 5], np_edo[:, 6], np_edo[:, 7], np_edo[:, 8], np_edo[:, 9], np_edo[:, 10], np_edo[:, 11], np_edo[:, 12]])

array([[1.        , 0.86204148, 0.88176315, 0.90056478, 0.89066817,
        0.89657317, 0.83925769, 0.86362923, 0.90238245, 0.90845758,
        0.89148088, 0.89675469, 0.82831357],
       [0.86204148, 1.        , 0.93802601, 0.96815187, 0.98677282,
        0.98564401, 0.9109403 , 0.99824976, 0.95650325, 0.97782865,
        0.99209871, 0.9779881 , 0.8927725 ],
       [0.88176315, 0.93802601, 1.        , 0.98892241, 0.96555933,
        0.96201845, 0.87669686, 0.92899876, 0.99340083, 0.97595347,
        0.954249  , 0.93869978, 0.84640888],
       [0.90056478, 0.96815187, 0.98892241, 1.        , 0.98412076,
        0.98077155, 0.90239585, 0.96306801, 0.9949918 , 0.99628156,
        0.97955208, 0.96550291, 0.87696713],
       [0.89066817, 0.98677282, 0.96555933, 0.98412076, 1.        ,
        0.99509675, 0.92244438, 0.98357135, 0.98217492, 0.98778489,
        0.99690188, 0.9788796 , 0.90213575],
       [0.89657317, 0.98564401, 0.96201845, 0.98077155, 0.99509675,
        1.        , 0.94228611, 0.98242587, 0.97851944, 0.98520005,
        0.9946547 , 0.99135165, 0.92413268],
       [0.83925769, 0.9109403 , 0.87669686, 0.90239585, 0.92244438,
        0.94228611, 1.        , 0.90610028, 0.90095318, 0.91622359,
        0.9232106 , 0.95954839, 0.9972043 ],
       [0.86362923, 0.99824976, 0.92899876, 0.96306801, 0.98357135,
        0.98242587, 0.90610028, 1.        , 0.95065102, 0.97510101,
        0.99071142, 0.97609952, 0.8888525 ],
       [0.90238245, 0.95650325, 0.99340083, 0.9949918 , 0.98217492,
        0.97851944, 0.90095318, 0.95065102, 1.        , 0.9896293 ,
        0.97487144, 0.96047459, 0.8762416 ],
       [0.90845758, 0.97782865, 0.97595347, 0.99628156, 0.98778489,
        0.98520005, 0.91622359, 0.97510101, 0.9896293 , 1.        ,
        0.98770504, 0.97605826, 0.89556188],
       [0.89148088, 0.99209871, 0.954249  , 0.97955208, 0.99690188,
        0.9946547 , 0.9232106 , 0.99071142, 0.97487144, 0.98770504,
        1.        , 0.98372074, 0.90568917],
       [0.89675469, 0.9779881 , 0.93869978, 0.96550291, 0.9788796 ,
        0.99135165, 0.95954839, 0.97609952, 0.96047459, 0.97605826,
        0.98372074, 1.        , 0.94782316],
       [0.82831357, 0.8927725 , 0.84640888, 0.87696713, 0.90213575,
        0.92413268, 0.9972043 , 0.8888525 , 0.8762416 , 0.89556188,
        0.90568917, 0.94782316, 1.        ]])